<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PKBVVB3');</script>
<!-- End Google Tag Manager -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>India Mechanic | Contact</title>
		<meta name="keyword" content="Best Car Repair Service Center | Denting Painting | Wheel Care">
		<meta name="description" content="Best car repair service center provide car cleaning denting painting wheel care and insurance renewal with lots of repair workshop">
		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

		<link rel="apple-touch-icon" href="images/apple-touch-icon.webp" />
		<link href="css/master.css" rel="stylesheet">
		<link rel="canonical" href="http://indiamechanic.in/" />
		<style>
		/* Large devices (laptops/desktops, 992px and up) */
		@media only screen and (min-width: 992px) {

			.row {
    		margin-right: 20px;
   			 margin-left: 20px;
			}
			}
			
		</style>
	</head>
	<body class="m-contacts" data-scrolling-animations="true" >
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKBVVB3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		<nav class="b-nav" style=" background-color: #f5f2d0;">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-4">
						<div class="wow slideInLeft" data-wow-delay="0.3s">
							<a href="index"><img src="images/logo/logo.webp"></a>
						</div>
					</div>
					<div class="col-sm-9 col-xs-8" style="padding-top: 20px;">
						<div class="b-nav__list wow slideInRight" data-wow-delay="0.3s">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
								<div class="collapse navbar-collapse navbar-main-slide" id="nav">
								<ul class="navbar-nav-menu">
									<li>
										<a href="index">Home</a>
									</li>

									<li class="dropdown">
										<a class="dropdown-toggle" data-toggle='dropdown' href="services">Services <span class="fa fa-caret-down"></span></a>
										<ul class="dropdown-menu h-nav">
											<li><a href="car-servicing">Car Servicing</a></li>
											<li><a href="car-dent-paint">Car Dent Paint</a></li>
											<li><a href="car-cleaning">Car Cleaning</a></li>
											<li><a href="wheel-care">Wheel Care </a></li>
											<li><a href="insurance-renewal">Insurance </a></li>
										</ul>
									</li>
<!-- 									<li><a href="workshops">Workshops</a></li>
 -->									<li><a href="about">About</a></li>
									<!-- <li><a href="blog">Blog</a></li> -->
									<li><a href="contact">Contact</a></li>
									<span class="b-search__main-form-submit">
									<button type="submit" class="btn m-btn" data-toggle="modal" data-target="#ContactModal" style="margin-top: -10px;">Get Quote<span class="fa fa-angle-right"></span></button>
								</span>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav><!--b-nav-->

		<section class="b-pageHeader">
			<div class="container">
				<h1 class=" wow zoomInLeft" data-wow-delay="0.5s">Contact Us</h1>
				<div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
					<h3>Get In Touch With Us Now</h3>
				</div>
			</div>
		</section><!--b-pageHeader-->

		<!-- <div class="b-breadCumbs s-shadow wow zoomInUp" data-wow-delay="0.5s">
			<div class="container">
				<a href="index" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a href="contact" class="b-breadCumbs__page m-active">Contact Us</a>
			</div>
		</div> --><!--b-breadCumbs-->

		<div class="b-map wow zoomInUp" data-wow-delay="0.5s">
			<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1aqRqHeFCRuvwhYWqDsUeFbxFBHgau6Jm" width="100%" height="520"></iframe>
		</div><!--b-map-->

		<section class="b-contacts s-shadow" style="background-color:#fff">
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<div class="b-contacts__form">
							<header class="b-contacts__form-header s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
								<h2 class="s-titleDet">Contact Form</h2> 
							</header>
						</div>
							<p class=" wow zoomInUp" data-wow-delay="0.5s">Enter your comments through the form below, 
							and our customer service professionals will contact you as soon as possible.</p>
							<div class="b-items__aside-main wow zoomInUp" data-wow-delay="0.5s">
								<form id="contactForm" action="contact.php" class="s-form wow zoomInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomInUp;">
								<div class="s-relative">
								<select name="services" class="m-select" id="services">
									    <option value="">Select Service</option>
                                        <option value="Car Servicing">Car Servicing</option>
                                        <option value="Denting Painting">Denting Painting</option>
                                        <option value="Car Cleaning">Car Cleaning</option>
                                        <option value="Wheel Care">Wheel Care</option>
                                        <option value="AC Services">AC Services</option>
                                        <option value="Car Repair">Car Repair</option>
                                        <option value="Insurance Renewal">Insurance Renewal</option>
								</select>
								<span class="fa fa-caret-down"></span>
								</div>
								<input type="text" name="name" id="name" placeholder="Name" required="" >
								<input type="text" placeholder="Email Id" required="" name="email" id="email">
								<input type="text" placeholder="Phone No" required="" name="phone" id="phone">
								<textarea id="message" name="message" placeholder="Requirement" required=""></textarea>
								<button type="submit" class="btn m-btn">SUBMIT NOW<span class="fa fa-angle-right"></span></button>
							</form>
							</div>
					</div>
					<div class="col-xs-6">
						<div class="b-contacts__address">
							<!-- <div class="b-contacts__address-hours">
								<h2 class="s-titleDet wow zoomInUp" data-wow-delay="0.5s">popular workshops</h2>
								<div class="b-contacts__address-hours-main wow zoomInUp" data-wow-delay="0.5s">
									<div class="row">
										<button type="submit" class="btn m-btn">PUNE</button>
										<button type="submit" class="btn m-btn">PCMC</button>
										<button type="submit" class="btn m-btn">BARAMATI</button>
										<button type="submit" class="btn m-btn">NASHIK</button>
									</div>
								</div>
							</div> -->
							<div class="b-contacts__address-info">
								<h2 class="s-titleDet wow zoomInUp" data-wow-delay="0.5s">contact details</h2>
								<address class="b-contacts__address-info-main wow zoomInUp" data-wow-delay="0.5s">
									<div class="b-contacts__address-info-main-item">
										<div class="row">
										<div class="col-lg-4 col-md-4 col-xs-12">
											<span class="fa fa-home"></span>
											HEAD OFFICE
										</div>
										<div class="col-lg-8 col-md-8 col-xs-12">
												<em>202 Diggaj Plaza, Kharadi-Pune 411014</em>
										</div>
									</div>
									</div>
									<div class="b-contacts__address-info-main-item">
										<div class="row">
											<div class="col-lg-4 col-md-4 col-xs-12">
												<span class="fa fa-phone"></span>
												PHONE
											</div>
											<div class="col-lg-8 col-md-8 col-xs-12">
												<a href="tel:7218558855"><em>+91 7218558855</em></a>
											</div>
										</div>
									</div>
									<div class="b-contacts__address-info-main-item">
										<div class="row">
											<div class="col-lg-4 col-md-4 col-xs-12">
												<span class="fa fa-envelope"></span>
												EMAIL
											</div>
											<div class="col-lg-8 col-md-8 col-xs-12">
												<a href="mailto:indiamechanic@gmail.com"><em>indiamechanic@gmail.com</em></a>
											</div>
										</div>
									</div>
								</address>
							</div>
							<div class="b-blog__aside-popular wow zoomInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomInUp;">
								<header class="s-lineDownLeft">
									<h2 class="s-titleDet">Popular Services</h2>
								</header>
								<div class="b-blog__aside-popular-posts">
									<div class="b-blog__aside-popular-posts-one">
										<img class="img-responsive" src="media/services/car-servicing.webp" alt="car-denting-painting">
										<h4><a href="car-servicing">Car Servicing</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<!--b-contacts-->

	<!-- Footer -->
		
		<div class="b-features">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-md-offset-3 col-xs-6 col-xs-offset-6">
						<ul class="b-features__items">
							<li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Advance Workshops</li>
							<li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Experienced Mechanics</li>
							<li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Genuine OEM / OES spares</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--b-features-->

		<div class="b-info">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<aside class="b-info__aside wow zoomInLeft" data-wow-delay="0.3s">
							<article class="b-info__aside-article">
								<h3>POPULAR WORKSHOP</h3>
								<div class="b-info__aside-article-item">
									<h6>Pune  |  PCMC</h6>
									<h6>Baramati  |  Nashik</h6>
								</div>
							</article>
							<article class="b-info__aside-article">
								<h3>About us</h3>
								<p>India Mechanic is one point solution for all your worries related to car service & repairs. With its network of multi branded service station , India Mechanic is standardising car service & repair industry.</p>
							</article>
							<a href="about" class="btn m-btn">Read More<span class="fa fa-angle-right"></span></a>
						</aside>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="b-info__latest">
							<h3>Facebook Live</h3>
							<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FIndiaMechanic%2F&tabs=timeline&width=260&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="260" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="b-info__twitter">
							<h3>Popular Services</h3>
							<ul class="f-features__items">
								<li>Car Servicing</li><br>
								<li>Car Denting Painting</li><br>
								<li>Car Cleaning</li><br>
								<li>Car Repair Service</li><br>
								<li>Car Wheel Care</li><br>
								<li>Car AC Services</li><br>
								<li>Insurance Renewal</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<address class="b-info__contacts wow zoomInUp" data-wow-delay="0.3s">
							<p>Contact us</p>
							<div class="b-info__contacts-item">
								<span class="fa fa-map-marker"></span>
								<h5>202 Diggaj Plaza, Kharadi-Pune 411014</h5>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-phone"></span>
								<h5> Phone:<a href="tel:7218558855"> +91 7218558855</a></h5>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-phone"></span>
								<h5> Phone:<a href="tel:7218558882"> +91 7218558882</a></h5>
							</div>
							
							<div class="b-info__contacts-item">
								<span class="fa fa-envelope"></span>
								<h5>Email:<a href="mailto:indiamechanic@gmail.com"> indiamechanic@gmail.com</h5>
							</div>
						</address>
						
					</div>
				</div>
			</div>
		</div><!--b-info-->

		<footer class="b-footer">
			<a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a>
			<div class="container">
				<div class="row">
					<div class="col-xs-5">
						<div class="b-footer__company wow fadeInLeft" data-wow-delay="0.3s">
							<div class="">
								<a href="index"><img src="images/logo/logo.webp" alt="IndiaMechanic Logo"></a>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<nav class="b-footer__content-nav">
						<h6><a href="http://adflixmedia.com/">Best Digital Marketing Company In Pune </a></h6>
						<nav class="b-footer__content-nav">
					</div>
					<div class="col-xs-4">
						<div class="b-footer__content wow fadeInRight" data-wow-delay="0.3s">
							<div class="b-footer__content-social">
								<a href="https://www.facebook.com/IndiaMechanic/"><span class="fa fa-facebook-square"></span></a>
                <a href="https://twitter.com/india_mechanic"><span class="fa fa-twitter-square"></span></a>
                <a href="https://www.instagram.com/mechanicindia/"><span class="fa fa-instagram"></span></a>
                <a href="https://www.youtube.com/channel/UCf-ESxv6jptvtkCjh9cZhvg"><span class="fa fa-youtube-square"></span></a>
                <a href="https://in.pinterest.com/indiamechanic/"><span class="fa fa-pinterest-square"></span></a>
                <a href="#"><span class="fa fa-linkedin-square"></span></a>
							</div>
							<nav class="b-footer__content-nav">
								<ul>
									<li><a href="index">Home</a></li>
									<li><a href="services">Services</a></li>
									<li><a href="workshops">Workshops</a></li>
									<li><a href="about">About</a></li>
									<li><a href="contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
	<!--b-footer-->

<!--==================================
=            contact form            =
===================================-->
<!-- Modal -->
<div class="modal fade" id="ContactModal" role="dialog">
  <div class="temp-custom-modal-wrap">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content temp-custom-modal-content">
        <button type="button" class="close temp-custom-close-button" data-dismiss="modal">&times;</button>
        <div class="modal-body temp-custom-modal-body">
          <div class="temp-login-form-wrapper">
            <div class="row custom-row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 temp-form-column-wrap-image" style="background-image: url(media/popup.webp)">
                <div class=" temp-contact-column-wrap-image">
                  <div class="temp-form-inner-wrapper">
                    <h3>Get Instant Quote For Car Repair Service Near You</h3>
                    <p>Worried about your car service?</p>
                    <p>No need to hesitate, ask anything about your car and it's issue. Please just feel entries that we will contact you as soon as possible.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="temp-form-column-wrap">
                  <h2>Get Quote</h2>
                  <form id="contact_form" method="post" role="form" action="contact.php">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <span class="temp-span-wrap temp-span-input-label-wrap">
                            <input class="temp_input_field" type="text" id="name" name="name" required="" placeholder="Name">
                            <label class="temp_input_label">
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <span class="temp-span-wrap temp-span-input-label-wrap">
                            <input class="temp_input_field" type="email" id="email" name="email" required="" placeholder="Email">
                            <label class="temp_input_label">
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <span class="temp-span-wrap temp-span-input-label-wrap">
                            <input class="temp_input_field" type="mobile" pattern="^\d{10}$" id="mobile" name="mobile" required="" placeholder="Mobile">
                            <label class="temp_input_label">
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="temp-login-button-wrap">
                         <button type="submit" class="btn btn-info temp-form-button" id="btnContactUs">Submit</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--====  End of contact form  ====-->

		<!--Main-->   
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>

		<script src="assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/jquery.easypiechart.min.js"></script>
		<script src="js/classie.js"></script>

		<!--Switcher-->
		<script src="assets/switcher/js/switcher.js"></script>
		<!--Owl Carousel-->
		<script src="assets/owl-carousel/owl.carousel.min.js"></script>
		<!--bxSlider-->
		<script src="assets/bxslider/jquery.bxslider.js"></script>
		<!-- jQuery UI Slider -->
		<script src="assets/slider/jquery.ui-slider.js"></script>
		<!--Contact form--> 
		<script src="assets/contact/jqBootstrapValidation.js"></script> 
		<script src="assets/contact/contact_me.js"></script>
		<!--Theme-->
		<script src="js/jquery.smooth-scroll.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.placeholder.min.js"></script>
		<script src="js/theme.js"></script>
	</body>
</html>