<html lang="en">
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PKBVVB3');</script>
<!-- End Google Tag Manager -->

  <!-- Event snippet for Lead conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-704183107/zAFlCPGCobEBEMP2488C'});
</script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>India Mechanic | Thank you</title>
  <link href="css/master.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
  <style>
  @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
  </style>
  <link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
  <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
  <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
  <script>
     
        var timer = setTimeout(function() {
            window.location='http://indiamechanic.in/'
        }, 6000);
    </script>

</head>
<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKBVVB3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="jumbotron text-center">
    <div><img src="images/logo/logo.webp"></div>
  <h1 class="display-3">Thank You!</h1>
  <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
  <p class="lead"><strong>'Contact form successfully submitted.</strong>  Thank you, I will get back to you soon!'</p>
  <hr>
  <p>
    Having trouble? <a href="http://indiamechanic.in/contact" style="color: #000">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="http://indiamechanic.in/" role="button" style="color: #000">Continue to homepage</a>
  </p>
                <a href="https://www.facebook.com/IndiaMechanic/"><span class="fa fa-facebook-square"></span></a>
                <a href="https://twitter.com/india_mechanic"><span class="fa fa-twitter-square"></span></a>
                <a href="https://www.instagram.com/mechanicindia/"><span class="fa fa-instagram"></span></a>
                <a href="https://www.youtube.com/channel/UCf-ESxv6jptvtkCjh9cZhvg"><span class="fa fa-youtube-square"></span></a>
                <a href="https://in.pinterest.com/indiamechanic/"><span class="fa fa-pinterest-square"></span></a>
                <a href="#"><span class="fa fa-linkedin-square"></span></a>

</div>
                

  <!-- <footer class="site-footer" id="footer">
    <p class="site-footer__fineprint" id="fineprint">Copyright ©2019 | All Rights Reserved</p>
  </footer> -->
</body>
</html>

